/* h3 {
  margin-bottom: 20px;
  text-align: center;
} */
.emptyCart {
  margin: auto;
  text-align: center;
  padding: 10vmax;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.emptyCart > svg {
  font-size: 5vmax;
  color: var(--text-primary) !important;
}
.emptyCart > p {
  font-size: 2vmax;
}
.emptyCart > a {
  color: var(--text-primary) !important;
  background-image: linear-gradient(
    to right,
    var(--background-secondary),
    var(--background-primary)
  );
  border: 1px solid var(--background-primary);
  padding: 1vmax 3vmax;
  cursor: pointer;
  font: 400 1vmax;
  text-decoration: none;
}
