.emptyCart {
  margin: auto;
  text-align: center;
  padding: 10vmax;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.emptyCart > svg {
  font-size: 5vmax;
  color: var(--text-primary) !important;
}
.emptyCart > p {
  font-size: 2vmax;
}
.emptyCart > a {
  color: var(--text-primary) !important;
  background-image: linear-gradient(
    to right,
    var(--background-secondary),
    var(--background-primary)
  );
  border: 1px solid var(--background-primary);
  padding: 1vmax 3vmax;
  cursor: pointer;
  font: 400 1vmax;
  text-decoration: none;
}
.cartInput {
  display: flex;
  align-items: center;
  height: auto;
}
.cartInput > button {
  border: none;
  background-color: rgba(0, 0, 0, 0.616);
  padding: 0.5vmax;
  font-size: 1vmax;
  cursor: pointer;
  color: white;
  transition: all 0.5s;
}
.cartInput > button:hover {
  background-color: rgba(0, 0, 0, 0.767);
}
.cartInput > input {
  border: none;
  /* padding: 0.5vmax; */
  width: 3vmax;
  text-align: center;
  outline: none;
  font: 400 0.8vmax;
  color: black;
}

@media screen and (max-width: 600px) {
  .cartInput {
    height: auto;
  }
  .cartInput > button {
    padding: 1.5vmax;
  }
  .cartInput > input {
    width: 2vmax;
    padding: 1.5vmax;
    font: 400 1.8vmax;
  }
}
.css-ug0yqg-MuiGrid-root {
  justify-content: space-evenly !important;
}
.css-1xfq7a0 {
  justify-content: center !important;
}
.cartImg {
  height: 100px !important;
  width: 83.5px !important;
}
