.MuiStepConnector-line {
  display: none !important;
}
.MuiStepConnector-root {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.349);
}
/* .MuiStepConnector-active,
.MuiStepConnector-completed {
  background-color: tomato;
} */
.MuiPaper-root {
  color: var(--background-primary);
}

.checkSteps {
  font-size: 10px !important;
}
.MuiStepper-root {
  padding: 0% !important;
}
