.css-46bh2p-MuiCardContent-root {
  padding-bottom: 0 !important;
}
.button {
  color: var(--text-secondary) !important;
  background-image: linear-gradient(
    to right,
    var(--background-secondary),
    var(--background-primary)
  );
  border: 1px solid var(--text-primary) !important;
}
.css-mzh7rh-MuiTypography-root {
  padding-top: 0 !important;
}
/* @media only screen and (max-width: 400px) {
  .card {
    max-width: 130px !important;
    height: 380px !important;
  }
} */
.heartIcon {
  color: var(--background-primary) !important;
  cursor: pointer;
}
