.button {
  color: var(--text-secondary) !important;
  background-image: linear-gradient(
    to right,
    var(--background-secondary),
    var(--background-primary)
  );
  border: 1px solid var(--text-primary) !important;
}
.heartIcon {
  color: var(--background-primary);
}
