.signin {
  padding: 2% !important;
  margin-top: 5% !important;
}
.login_signUp_toggle {
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
}
.tab_left {
  margin-left: 45%;
}
.switch {
  width: 50% !important;
  background-image: linear-gradient(
    to right,
    var(--background-secondary),
    var(--background-primary)
  );
}
.css-binzgt {
  margin-top: 0 !important;
}
.registerImage {
  display: flex;
  cursor: pointer;
}
.button {
  background-image: linear-gradient(
    to right,
    var(--background-secondary),
    var(--background-primary)
  );
  color: var(--text-primary) !important;
}
.signUpForm {
  transform: translateY(-100%) translateX(-100vmax);
}

.shiftToLeft {
  transform: translateX(-100vmax);
}
.shiftToNeutral {
  transform: translateX(0%);
}
.shiftToNeutralForm {
  transform: translateX(0%) translateY(-100%);
}
.shiftToRight {
  transform: translateX(100%);
}
/* @media only screen and (max-width: 450px) {
  .css-1kp3ott-MuiContainer-root {
    max-width: 250px !important;
  }
} */
