:root {
  --background-primary: #f2789f;
  --background-secondary: white;
  --text-primary: #39065a;
  --text-secondary: #633f2c;
  --text-hover: #9c6b92c7;
}
[data-theme='dark'] {
  --background-primary: #772a7d;
  --background-secondary: #190228;
  --text-primary: rgb(234, 213, 213);
  --text-secondary: rgb(241, 221, 221);
  --text-hover: #f0b5e3c7;
}
/* hjgjyh */
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
.greenColor {
  color: green !important;
}
.redColor {
  color: red !important;
}
